body { margin: 0; background: #121212; color: white; font-family: sans-serif; }

#top-bar { display: flex; padding: 15px; background: #1e1e1e; gap: 10px; }

#main-workspace { display: flex; }

#canvas-wheel { 
    width: 600px; height: 600px; 
    background-image: url('../Pictures/atelier.png'); /* Remonte au dossier racine */
    background-size: cover;
}

#left-panel { width: 300px; background: #1c1815; }
